<div class="cool-border ">
    <div class="border bottom-left"></div>
    <div class="border top-right"></div>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="5%" fxLayoutGap.xs="0">
        <div fxFlex="45" fxFlex.sm="100">
            <img src="./assets/template/kevin.jpg" alt="kevin" class="k-image">
        </div>
        <div fxFlex="50" class="k-info">
            <h3 >Quem é Kevin exatamente?</h3>
            <p class="description-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias, veritatis sit earum dolore officiis.
                Ipsa, nam, facilis at reiciendis magnam tenetur corporis ea dolores temporibus sed officiis natus
                doloribus!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias, veritatis sit earum dolore officiis.
                Ipsa, nam, facilis at reiciendis magnam tenetur corporis ea dolores temporibus sed officiis natus
                doloribus
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam alias, veritatis sit earum dolore officiis.
                Ipsa, nam, facilis at reiciendis magnam tenetur corporis ea dolores temporibus sed officiis natus
                doloribus
            </p>
        </div>
    </div>
</div>