<div id="admin-app">

    <mat-drawer-container>
        <mat-drawer mode="side" opened class="sidebar">
            <mat-toolbar>
                User information
            </mat-toolbar>
            <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content>
            <div role="admin" id="admin">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div fxFlex="98"  class="pt-3">
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>