<div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px" class="mt-5 py-3">
    <div fxFlex="30" class="pl-3">
        <h3>
            Minhas habilidades
        </h3>
        <p class="description-text">
            Determinar se um desenvolvedor é bom ou não em uma tecnologia, 
            é algo relativo aos projetos em que o desenvolvedor esteve envolvido durante o tempo. 
            Com isso vou determinar o nível de minhas habilidades com período trabalhado com ela.
        </p>
    </div>
    <div fxFlex fxFill class="py-3">
        <mat-card>
            <mat-card-subtitle>Main skills</mat-card-subtitle>
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutAlign="start start" >
                    <div fxFlex fxFill  >
                        <div class="skill-item">
                            <span class="pb-2 title-skill">
                                Php
                            </span>
                            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>See all</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>