/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'variables';
@import 'details';
@import 'helpers';


@import 'bootstrap-utilities';



h3 {
    font-size: 30px;
    letter-spacing: 2px;
}

p {
    font-size: 20px;
    &.description-text {
        line-height: 40px;
    }
}