
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'variables';
@import 'details';
@import 'helpers';


@import 'bootstrap-utilities';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/solid';

@import 'theme';



h3 {
    font-size: 30px;
    letter-spacing: 2px;
}

p {
    &.description-text {
        line-height: 40px;
    }
}